/*Estilos aplicados ao website Prototipando...*/

/*Seletor Universal - seleciona todos os elementos da página e aplica estilos comuns padronizados*/
*{
    margin: 0;/*remove a margem padrão de todos os elementos*/
    padding: 0;/*remove o padding de todos os elementos*/
    box-sizing: border-box; /*Inclui bordas e preenchimento no cálculo da largura e altura dos elementos*/
}/*Fechamento do seletor universal*/

body{
    font-family: Arial, sans-serif; /*Define a fonte da página como Arial, com uma alternativa de sans-serif*/
    background-color: rgb(228, 136, 188); /*Define a cor de fundo do body/corpo do html*/
    color: rgb(240, 240, 240); /*Define a cor do texto com um tom suave de branco*/
}/*Fechamento do body

/*Estilo do cabeçalho (header)*/
header{
    background-color: #B83D82; /*Cor de fundo em hexadecimal*/
    padding: 40px;
    text-align: center; /*Alinha o texto do cabeçalho ao centro*/
}/*Fechamento do header*/

header button{
    right: 20px;/*Alinha o botão á direita, com 20px de distância da borda direita da página*/
    top: 20px; /*Alinha o botão ao topo, com 20px de distância da borda superior*/
    position: absolute;/*Posiciona o botão de forma absoluta com relação ao cabeçalho*/
    background-color: #EF43D2;
    color: rgb(240, 240, 240);
    padding: 10px 20px; /*Define o espaço interno do botão em 10px (vertical) e 20px (horizontal)*/
    border-radius: 5px; /*Arredonda os cantos do botão*/
    border: none; /*Remove a borda padrão do botão*/
    cursor: pointer; /*Define o cursor como um ponteiro ao passar sobre o botão*/
}/*Fechamento do header button*/

header h3{
    /*Remove a margem e o padding padrão do h3 dentro do header*/
    margin: 0;
    padding: 0;
}/*Fechamento do header h3*/

main{
    padding: 30px;
    text-align: center;
}/*Fechamento do main*/

main img{
    max-width: 150px; /*Define a largura máxima da imagem dentro da main como 150px*/
}/*Fechamento do main img*/

section{
    margin: 20px 0px; /*Define a margem superior e inferior das seções como 20px e 0 para as laterais*/
}/*Fechamento da section*/

/*Estilo do rodapé (footer)*/
footer{
    background-color: #B83D82; /*Cor de fundo em hexadecimal*/
    padding: 30px;
    text-align: center; /*Alinha o texto do rodapé ao centro*/
    bottom: 0; /*Alinha o rodapé abaixo da página*/
    position: absolute; /*Posiciona o botão de forma absoluta com relação ao body*/
    width: 100%; /*Define a largura do rodapé com 100% da janela de visualização*/
}/*Fechamento do footer*/

